<% content_for :title, "Teams" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Teams</h1>
    <%= link_to "New team", new_team_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="teams" class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 items-stretch">
    <% if @teams.any? %>
      <% @teams.each do |team| %>
        <div class="h-full">
          <%= render team, show_actions: true %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No teams found.</p>
    <% end %>
  </div>
</div>
