<div id="<%= dom_id team_member %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Team:</strong>
    <%= team_member.team.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Member:</strong>
    <%= team_member.member.full_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= team_member.status %>
  </div>
</div>
