<div id="<%= dom_id attendance_report %>">
  <%= link_to attendance_report do %>
  <p>
    <strong><%= attendance_report.readable_date %>: </strong>
    <%= attendance_report.attendance %>
  </p>
  <% end %>
</div>
